@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Aenean vitae iaculis metus. Mauris viverra velit a sapien volutpat, sed gravida purus commodo. Nullam venenatis egestas tempus.
    Fusce ornare ligula ut mauris iaculis mattis a at elit. Integer dignissim viverra arcu, at pharetra est commodo sit amet.
    Quisque aliquet ut mi sagittis semper. Pellentesque suscipit, urna eget pulvinar pretium, tellus nunc interdum ligula, blandit consectetur
    ligula tortor dictum magna. Vestibulum in convallis est. Curabitur nunc massa, consectetur quis odio vitae, imperdiet placerat libero.
    Duis vitae consectetur ipsum. Etiam vehicula volutpat sem eu dictum. Praesent posuere nisi et consequat eleifend. Donec at dui velit. Interdum et malesuada
    fames ac ante ipsum primis in faucibus. Sed congue sem sit amet molestie interdum. Curabitur ullamcorper turpis eget vulputate pharetra.
</p>
