@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Library</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae iaculis metus. Mauris viverra velit a sapien volutpat, sed gravida purus commodo.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Books</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <a class="btn btn-primary" href="../Books_Authors/">Learn more &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2>Authors</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <a class="btn btn-primary"
           href="../Authors/">Learn more &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2>Subscriptions</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <a class="btn btn-primary" href="../Subscriptions_Books/">Learn more &raquo;</a>
    </div>
</div>